.register-container {
  background-color: #D9D9D9;
  height: 100vh;
  display: flex;
  margin-top: 50px;
}

.register-form{
  margin: auto;
  color: #000;
  width: 25%;
  height: auto;
}
form { 
  border-radius: 8px;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .register-form{
    width: 45%;
    height: 70%;
  }
}
@media screen and (max-width: 900px) {
  .descriptions{
    width: 80%;
  }
  .register-form{
    width: 45%;
    height: 50%;
  }
}
@media screen and (max-width: 600px) {
  .register-form{
    width: 85%;
  }

  .input{
    padding-top: 10px;
  }
  .form-header {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .register-container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  .descriptions{
    width: 75%;
  }
  
  .register-form{
    width: 90%;
    height: 90%;

  }
  form { 
    width: 98%;
    height: 80%;
  }
  .input{
    padding-top: 10px;
  }
  .form-header {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
