a:hover {
  font-size: 12px;
  transition: 0.5s;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0px solid #ddd;
}

th, td {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

.details-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}
.transactions {
  overflow-x:auto;
  margin: auto;
}

.debit-cash {
  color: rgb(247, 9, 9);
}

.nextPrevious td a{
  padding: 15px;
  font-size: 18px;
  color: rgb(3, 26, 54);
}

.nextPrevious td a:hover{
  font-size: 12px;
  transition: 0.5s;
}

.fa{
padding: 10px;
}
.fa-trash-o {
  color: rgb(185, 57, 57);
}

.fa-pencil-square-o {
  color: rgb(73, 73, 47);
}

.fa-eye {
  color: rgb(3, 26, 54);
}
input[type="text"] {
  padding:5px;
  border-radius: 5px;
  font-size:1em;
  height:35px;
  outline:none;
  width:70%;
  cursor: text;
}

.btn {
  background: rgb(3, 26, 54);
  width:20%;
  padding: 2px;
  border: 1px solid #035AB7;
  border-radius: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
