table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border: 0px solid #ddd;
}

th, td {
  text-align: left;
  padding: 15px;
}

.details-container {
  display: flex;
  margin-top: 20px;
}
.transactions {
  margin: auto;
}

.debit-cash {
  color: rgb(247, 9, 9);
}

.nextPrevious td a{
  padding: 10px;
  font-size: 14px;
  color: rgb(3, 26, 54);
}

.nextPrevious td a:hover{
  font-size: 10px;
  transition: 0.5s;
}

a:hover {
  font-size: 12px;
  transition: 0.5s;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table th,
  table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

  @media screen and (max-width: 800px) {
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table tr {
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:last-child {
      border-bottom: 0;
    }
    .table-footer{
      margin-bottom: 40px;
    }
  }
