table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0px solid #ddd;
}

th, td {
  text-align: left;
  padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

.details-container {
  display: flex;
  margin-top: 20px;
}
.transactions {
  overflow-x:auto;
  margin: auto;
}

.debit-cash {
  color: rgb(247, 9, 9);
}

.nextPrevious td a{
  padding: 15px;
  font-size: 18px;
  color: rgb(3, 26, 54);
}

.nextPrevious td a:hover{
  font-size: 12px;
  transition: 0.5s;
}

a:hover {
  font-size: 12px;
  transition: 0.5s;
  }
